html {
font-size: 16px;
font-family: 'Roboto', sans-serif;

}

body {
    margin: 0;
}
.icons {
height: 64px;
width: 100%;
background-color: white;
display: flex;
justify-content: space-around;
align-items: center;
align-content: space-around;
}

.banner {
background-size: cover;
background-repeat: no-repeat;
}

.header-learn img {
width: 100%;
margin: 0 auto;
position: relative;
display: block;
}

.learn {
background-color: rgb(204, 204, 204);
text-align: left;
margin-bottom: 32px;
display: block;
font-size: 24px;
}


.learn h1 {
padding-left: 16px;
font-weight: bold;
padding-top: 32px;
color: black;
margin: 0;
}

.learn p {
padding-left: 16px;
color: black;
font-weight: 700;
opacity: 1;
}

#button {
color: white;
background-color: rgb(140, 140, 140);
text-align: center;
font-weight: 700;
text-decoration: none;
list-style: none;
padding: 12px 0;
width: 90%;
margin: 24px auto 32px auto;
}

.courses li a {
    text-decoration: none;
}
.learn a {
    margin-bottom: 32px;
    text-decoration: none;
}

.orientation {
padding-top: 16px;
padding-bottom: 32px;
}

.orientation img {
padding: 16px;
width: 90%;
height: 100%;
}

.texts {
padding-left: 16px;
padding-right: 16px;
}

.texts h2 {
font-weight: bold;
position: relative;
left: 16px;

}

.texts p {
font-weight: 700;
}

.texts .read {
color: rgb(0, 102, 255);
}

.learning h3 {
font-weight: bold;
text-align: center;
font-size: 24px;
}

.courses li {
color: black;
font-weight: 700;
text-align: left;
background-color: rgb(191, 191, 191);
width: 90%;
list-style: none;
text-decoration: none;
margin: 0 auto;
}

.courses p {
color: black;
text-decoration: none;
margin-bottom: 8px;
padding: 16px 16px 24px 16px;
font-size: 18px;
}

.courses {
padding: 0;
text-decoration: none;
}

.learning {
margin-bottom: 32px;
}

.thesis {
}

#thesishead {
text-align: center;
padding-top: 32px;
padding-bottom: 16px;
font-weight: bold;
font-size: 28px;
}

.thesis video {
width: 100%;
height: 100%;
}

footer {
}

footer p {
text-align: center;
padding-top: 16px;
padding-bottom: 16px;
margin-top: 24px;
font-weight: 400;
}

.header p,
.header span,
.header ul {
display: none;
}

.orientation-desk {
display: none;
}

.learning-desk {
display: none;
}

.thesis-desk .p-desk {
display: none;
}

.thesis-img {
display: none;
}

.terms {
display: none;
}

@media only screen and (min-width: 1000px) {
 .header .desk {
display: none;
 }
 .icons {
width: 200px;
padding-left: 24px;
 }
.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.header ul {
display: inline-block;
list-style: none;
padding-right: 24px;
}
.header {
    font-size: 18px;
}
.header a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-left: 8px;
}
.header p {
font-weight: bold;
display: inline-block;

}
.header span {
font-weight: 400;
opacity: 0.6;
display: inline-block;
}
.header-learn img {
display: inline-block;
width: 60%;
margin: 32px 24px;
}

.banner {
padding: 0;
}

.header-learn {
display: flex;
background-color: rgb(204, 204, 204);
justify-content: space-between;
align-items: center;
}

.banner,
.learn {
    justify-content: flex-start;
}

#button {
background-color: rgb(77, 77, 77);
text-decoration: none;
}

.orientation {
display: none;
}

.orientation-desk img {
width: 100%;
padding: 32px 24px;
}

.emanuel {
width: 60%;
text-align: left;
}

.orientation-desk {
display: flex;
}

.texts img {
width: 35%;
height: auto;
}

.features {
}

.emanuel h5 {
font-weight: bold;
font-size: 32px;
padding-left: 24px;
margin: 0 auto;
}

.emanuel p {
font-weight: 300;
font-size: 18px;
padding-left: 24px;
}

.texts {
display: flex;
}

.features {
width: 40%;
}

.learning {
display: none;
}

.learning-desk {
text-align: center;
}

.learning-desk {
display: block;
}
.courses-desk {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
padding: 32px 72px;
}

.learning-desk {
    background-color: rgb(204, 204, 204);
}

.learning-desk h3 {
font-size: 28px;
padding: 32px 0px;
margin: 0 auto;
}

.courses-desk img {
width: 350px;
height: auto;
}

.courses-img {
background-color: white;
padding-bottom: 24px;
margin-bottom: 24px;
}

.courses-img p {
width: 320px;
text-align: left;
padding-left: 16px;
font-weight: 400;
}

.courses-img h6 {
font-size: 18px;
text-align: left;
padding-left: 16px;
padding-top: 16px;
margin: 0;
}

.thesis video {
padding: 0 24px 24px 24px;
width: 80%;
height: 60%;
}

#thesishead {
padding: 32px 0;
margin: 0 auto;
}

.thesis-desk {
display: block;
padding-left: 24px;
width: 60%;
}

.thesis {
display: flex;
}

.text img {
 width: 35%;
height: auto;
}

.thesis-img {
width: 40%;
display: flex;
}

.thesis-desk .p-desk {
display: block;
}

.text {
display: flex;
}

.text-thesis {

}

footer {
border-top: 1px solid gray;
}

footer {
display: flex;
justify-content: space-between;
align-content: center;
align-items: center;
font-size: 16px;
font-family: Arial;
}

footer .rights {
text-align: left;
padding-left: 24px;
}

.terms {
text-decoration: none;
display: inline-block;
}

#fisma {
background-color: rgb(204, 204, 204);
}

.text {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    }
    
    .text h2 {
    font-weight: bold;
    position: relative;
    padding-left: 16px;
    }
    
    .text p {
    font-weight: 500;
    padding-left: 16px;
    }

    html {
    font-family: 'Roboto', sans-serif;
    }
}
